<header class="m-header">
  <div class="m-header-content">
    <button class="m-header-btn--back align--middle" (click)="showSidebar()">
            <i class="fa fa-chevron-left fa-2x cell"></i>
            <span class="cell">Back</span>
        </button>
    <h2 class="m-header-title">
      Blog
    </h2>
    <button class="m-header-btn fa fa-filter fa-2x"></button>
  </div>
</header>
<div class="main-wrapper">
  <div *ngIf="cards" class="row">
    <div *ngFor="let card of cards">
      <app-blogg-card [card]="card" class="col-xs-12 col-md-4"></app-blogg-card>
    </div>
  </div>
</div>